* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #cb459c;
}

.custom-container {
  display: flex;
  overflow-x: auto;
}

.cardlist-add-section {
  max-width: 290px;
}

.MuiButton-root.cardlist-add-btn {
  width: 100%;
  background-color: #a2639f;
  text-transform: none;
  justify-content: left;
}

.MuiButton-root.cardlist-add-btn:hover {
  background-color: #8f518c;
}

.list-add-controls {
  background-color: aliceblue;
  width: 100%;
  padding: 5px;
}

.MuiOutlinedInput-input#outlined-basic {
  height: 0.475em;
  width: 100%;
}

.add-close-btn {
  margin-top: 5px;
}

.add-close-btn Button {
  text-transform: none;
}

/* Cardlist design starts here */

.card-list-container {
  display: flex;
  background-color: #ebecf0;
  border-radius: 4px;
}

.card {
  width: 290px;
  padding: 5px;
}

.MuiSvgIcon-root.menu-icon {
  float: right;
}

.title-edit-field .MuiOutlinedInput-input {
  height: 0.475em;
  padding: 10.5px 16px;
}

.MuiButton-root.bg-none {
  width: 100%;
  background-color: transparent;
  color: black;
  text-transform: none;
  box-shadow: unset;
  justify-content: left;
  padding: 3px 10px;
}

.MuiButton-root.bg-none:hover {
  background-color: #dadbe2;
}